# ignore all files in the below directory
previous attempt/
sequence/
.ipynb_checkpoints/
new_sequence/
model/
first attempt/
HIV/*
bace/*

create/0prev/*
create/prev/*
create/group/*
create/group1/*
create/represent/*

model_save/prev/*
model_save/prev_models/*

# ignore all files format below
*.zip
*.swp

datasets/del/*
datasets/prev/*

#graph2vec
graph2vec/dataset
graph2vec/my_dataset
